body {
  font-family: 'Nunito', sans-serif;
  background-color: #535353;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--nav-text); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--header-color); 
  border-radius: 10px;
  cursor: pointer;
}

:root {
  /* --header-color: rgba(245, 219, 21, 0.8); */
  --header-color: #f5db15;
  --body-text:  #333;
  --nav-text: #929292;
  --hover-text: #6d6b6b;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer-box {
  height: 100vh;
  width: 100vw;
  background-image: url('assets/temp-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#overlay {
  position: absolute;
  z-index: 1;
  opacity: 0.6;
  background-color: #333;
  height: 100vh;
  width: 100vw;
}

.title {
  color: var(--header-color);
  text-transform: uppercase;
  z-index: 2;
  width: 80vw;
}

.title > h1 {
  font-size: 3em;
  font-weight: 800;
}

.title > h2 {
  font-size: 1.5em;
  font-weight: 400;
}

/* Nav Bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: var(--header-color);
  font-size: 1em;
  text-transform: uppercase;
}

.navbar > h4 {
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  color: var(--nav-text);
  padding: 10px;
  font-weight: 800;
  transition: .5s all ease;
}

.navbar > h4:hover {
  color: var(--hover-text);
}

.scrolled {
  position: sticky;
  top: 0;
  z-index: 5;
}

/* About, Skills */
section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: left;
}

section:nth-of-type(1) {
  background-color: rgba(9, 148, 235, 0.35);
}

section:nth-of-type(2) {
  background-color: rgba(96, 9, 235, 0.35);
}

section:nth-of-type(3) {
  background-color: rgba(21, 47, 245, 0.35);
  padding: 60px 0px;
  padding-bottom: 10vh;
}

section:nth-of-type(4) {
  background-color: rgba(236, 10, 36, 0.35);
}

section > h1 {
  margin: 20px;
  width: 50vw;
  font-weight: 800;
  font-size: 2.5em;
  letter-spacing: 2px;
}

h3 {
  margin: 20px;
  width: 80vw;
  font-size: 1.5em;
  line-height: 20px;
  font-weight: 800;

}

p {
  margin: 20px;
  width: 50vw;
  line-height: 20px;
}

/* Skills */
/* #skills {
} */

.skill-list {
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 50vw;
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: 0.15em;
}

/* Portfolio */
#portfolio {
  height: auto;
}

#portfolio > .site-link {
  text-align: left;
}

#portfolio > h1 {
  width: 80vw;
  margin-top: 10vh;
}

.project > p {
  margin: 20px 0;
  width: 80vw;
}

a {
  text-decoration: none; cursor: pointer;
  font-family: 'Nunito', sans-serif;
  padding: 2.5px;
  font-weight: 800;
  color: var(--nav-text);
  /* color: #fff; */
  width: 80vw;
  transition: .5s all ease;
}

a:hover {
  color: var(--hover-text);
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-box > h3 {
  margin-bottom: 10px; 
}

.project {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

img {
  width: 80vw;
  margin-top: 10px;
}

/* video {
  margin: 50px 0px;
} */

/* Contact */
/* #contact {
} */
.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (min-width: 760px) {

  /* Header */
  .title {
    width: unset;
  }

  /* Nav Bar */
  .navbar > h4 {
    font-size: 1.5em;
    padding: 20px;
  }

  /* About */

  /* Portfolio */

/* .project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.project {
  flex-direction: row;
}

.project > p {
  margin: 0 0 0 20px;
  width: 30vw;
}

img {
  width: 50%;
  margin-left: 10vw;
}


  
}