body {
  font-family: "Nunito", sans-serif;
  background-color: #535353;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

:root {
  --header-font: "Nunito", sans-serif;
  --text-font: "Open Sans", sans-serif;
  --header-color: #f5db15;
  --body-text: #333;
  --nav-text: #929292;
  --hover-text: #6d6b6b;
  --lightgrey-color: #dedede;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--nav-text);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--header-color);
  border-radius: 10px;
  cursor: pointer;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer-box {
  height: 100vh;
  width: 100vw;
  background-image: url("assets/bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#overlay {
  position: absolute;
  z-index: 1;
  opacity: 0.4;
  background-color: #333;
  height: 100vh;
  width: 100vw;
}

.title {
  color: var(--header-color);
  text-transform: uppercase;
  z-index: 2;
  width: 80vw;
  letter-spacing: 3px;
}

.title > h1 {
  font-size: 3em;
  line-height: 1em;
  font-weight: 800;
  margin-bottom: 0.1em;
  font-family: var(--header-font);
}

.title > h2 {
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.2em;
}

/* Nav Bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: var(--header-color);
  font-size: 1em;
  text-transform: uppercase;
}

.navbar > h4 {
  cursor: pointer;
  font-family: var(--header-font);
  color: var(--nav-text);
  padding: 10px;
  font-weight: 800;
  transition: 0.5s all ease;
}

.navbar > h4:hover {
  color: var(--hover-text);
}

.scrolled {
  position: sticky;
  top: 0;
  z-index: 5;
}

/* About, Skills */
section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: left;
}

section:nth-of-type(1) {
  background-color: rgba(9, 148, 235, 0.3);
}

section:nth-of-type(2) {
  background-color: rgba(96, 9, 235, 0.3);
}

section:nth-of-type(3) {
  background-color: rgba(21, 47, 245, 0.3);
  padding: 60px 0px;
  padding-bottom: 10vh;
}

section:nth-of-type(4) {
  background-color: rgba(236, 10, 36, 0.3);
}

section > h1 {
  margin: 20px;
  width: 50vw;
  font-weight: 800;
  font-size: 2.5em;
  letter-spacing: 2px;
  font-family: var(--header-font);
}

h3 {
  margin: 20px;
  width: 80vw;
  font-size: 1.5em;
  line-height: 20px;
  font-weight: 800;
  font-family: var(--header-font);
}

p {
  margin: 20px;
  width: 50vw;
  line-height: 22px;
  color: var(--lightgrey-color);
  font-family: var(--text-font);
}

/* Skills */
/* #skills {
} */

.skill-list {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.skill-list > h2 {
  font-weight: 400;
  font-family: var(--text-font);
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: 1px;
  color: var(--lightgrey-color);
}

/* Portfolio */
#portfolio {
  height: auto;
}

#portfolio > .site-link {
  text-align: left;
}

#portfolio > h1 {
  width: 80vw;
  margin-top: 10vh;
}

.project > p {
  margin: 20px 0;
  width: 80vw;
  line-height: 22px;
}

.project-box > a {
  color: var(--lightgrey-color);
  font-weight: 600;
}

.project-box > a:hover {
  color: var(--nav-text);
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: var(--header-font);
  padding: 2.5px;
  font-weight: 800;
  color: var(--nav-text);
  width: 80vw;
  transition: 0.5s all ease;
}

a:hover {
  color: var(--hover-text);
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-box > h3 {
  margin-bottom: 10px;
}

.project {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

img {
  width: 80vw;
  margin-top: 10px;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.12))
    drop-shadow(0 1px 2px rgba(0, 0, 0, 0.24));
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

img:hover {
  transform: translateY(-5px);
  filter: drop-shadow(0 14px 28px rgba(0, 0, 0, 0.25))
    drop-shadow(0 10px 10px rgba(0, 0, 0, 0.22));
}

/* Contact */
.icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 51.5vw;
}

.fab,
.fas,
.far {
  font-size: 3em;
  margin: 5px;
}

.fa-arrow-alt-circle-up:before {
  cursor: pointer;
  color: var(--nav-text);
  transition: 0.5s all ease;
}

.fa-arrow-alt-circle-up:hover::before {
  color: var(--hover-text);
}

@media only screen and (max-width: 380px) {
  #about,
  #contact {
    height: auto;
    padding-top: 15vh;
    padding-bottom: 10vh;
  }

  #skills {
    height: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

.fa-arrow-alt-circle-up:before {
  position: unset;
}

@media only screen and (max-height: 560px) {
  #about,
  #contact {
    height: auto;
    padding-top: 15vh;
    padding-bottom: 10vh;
  }

  .fa-arrow-alt-circle-up:before {
    margin: 1em;
  }

  #skills {
    height: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

@media only screen and (min-width: 760px) {
  .fa-arrow-alt-circle-up:before {
    cursor: pointer;
    right: 1em;
    position: absolute;
    color: var(--nav-text);
    transition: 0.5s all ease;
  }

  /* Header */
  .title {
    width: unset;
  }

  /* Nav Bar */
  .navbar > h4 {
    font-size: 1.5em;
    padding: 20px;
  }

  /* About */

  section > #about > h1 {
    margin-top: 10vh !important;
  }

  /* Portfolio */

  .project {
    flex-direction: row;
    align-items: center;
  }

  .project > p {
    margin: 0 0 0 20px;
    width: 30vw;
  }

  img {
    width: 50%;
    margin-left: 10vw;
  }

  .project-box {
    margin-bottom: 45px;
  }

  .project-box:nth-of-type(2n) {
    text-align: right;
    width: 90vw;
    margin: 4vh 0;
  }

  .project-box:nth-of-type(2n) > .project {
    flex-direction: row-reverse !important;
  }

  .project-box:nth-of-type(2n) > .project > img {
    margin-right: 5vw;
    margin-left: 20px;
  }

  .project-box:nth-of-type(2) > .project > p {
    margin-left: 0;
    text-align: right;
  }
}
