body {
  font-family: 'Nunito', sans-serif;
  background-color: rgb(204, 204, 202);
}

:root {
  /* --header-color: rgba(245, 219, 21, 0.8); */
  --header-color: rgb(245, 219, 21);
  --body-text:  #333;
  --nav-text: #929292;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer-box {
  height: 100vh;
  width: 100vw;
  background-image: url('assets/temp-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#overlay {
  position: absolute;
  z-index: 1;
  opacity: 0.6;
  background-color: #333;
  height: 100vh;
  width: 100vw;
}

.title {
  color: var(--header-color);
  text-transform: uppercase;
  z-index: 2;
  width: 80vw;
}

.title > h1 {
  font-size: 3em;
  font-weight: 800;
}

.title > h2 {
  font-size: 1.5em;
  font-weight: 400;
}

/* Nav Bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: var(--header-color);
  font-size: 1.5em;
  text-transform: uppercase;
}

.scrolled {
  position: sticky;
  top: 0;
  /* z-index: 5; */
}

a {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: var(--nav-text);
  padding: 10px;
  font-weight: 800;
}

/* About, Skills */
section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: rgba(245, 219, 21, 0.1); */
  color: var(--body-text);
}

h1 {
  margin: 10px;
  font-weight: 800;
  font-size: 2em;
}

p {
  margin: 20px;
  width: 80vw;
  text-align: center;
}

/* Skills */
#skills {
  /* height: 100vh; */
  width: 100vw;
  /* background-image: url('assets/skills.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.skill-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 80vw;
}

@media only screen and (min-width: 760px) {

  /* Header */
  .title {
    width: unset;
  }

  /* Nav Bar */
  a {
    padding: 20px;
  }

  /* About */



  
}